

<html>

<head>
    <meta charset="utf-8">
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="trangchu.css">
    <link rel="icon" type="image/x-icon" href="anh/logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    {% include 'pf/header.html'; %}
   {% include 'pf/nav.html'; %}
  {% include 'pf/aside.html'; %}
    <article>
        <h2>Giỏ hàng của bạn</h2>
        <table border="1">
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
            </tr>
            
            else {
                "<tr><td colspan='5'>Giỏ hàng trống</td></tr>";
            }
            
            <!-- <td><a href='?action=remove&$masp={$item['masp']}' style='color: red;'>Xóa</a></td> -->
            <tr>
                <td colspan="4"><strong>Tổng cộng</strong></td>
                <td><strong> đ</strong></td>
            </tr>
        </table>

        <a href="trangchu.php" style="text-decoration: none; color: blue; font-size: 16px;padding: 15px 10%;">
            Tiếp tục mua hàng
        </a>

        <a href="pay.php" style="text-decoration: none; color: blue; font-size: 16px;padding-left: 54%;">
            Thanh toán
        </a>

        </tr>
    </article>
  {% include 'pf/footer.html'; %}
</body>

</html>
<style>
    article {
        margin: 40px 10%;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        color: #815854;
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }
</style>